* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-image: url(../img/altbg.svg);
    background-position: center center;
    scroll-behavior: smooth;
}



body {
    color: var(--white-color);
    font-family: sans-serif;
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
} 

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

button {
    background-color: red; /* Green */
    border: none;
    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}