:root {
    --white-color: #FFFFFF;
    --gap: 3rem;
    --primary-color:#000000;
    --light-gray-color: #EEEEEE;
    --secondary-color: black;
}

/* elementos */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-image: url(../img/altbg.svg);
    background-position: center center;
    scroll-behavior: smooth;
}



body {
    color: var(--white-color);
    font-family: sans-serif;
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
} 

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

button {
    background-color: red; /* Green */
    border: none;
    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* fim dos elementos */

/*Classes*/
.altbg {
    background-image: url('../img/mainbg.svg');
}

.section {
    min-height: 100vh;
}

.whitebg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.menu-spacing {
    height: 65px;
}
/* fim das classes*/

/* Menu */
.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    font-family: sans-serif;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50px;
    left: 25%;
}

.menu-content #pedido {
    color: black;
    border: 2px solid black;
    background-color:red;
}

.menu-content #pedido:hover {
    background-color: greenyellow;
    border: 2px solid black;
}

/* Fim do menu */

.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#rede-social img {
    width: 10rem;
    height: 10rem;
    transition: all 300ms ease-in-out
}

#rede-social img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}


.intro-img img {
    max-width: 100%;
    height: auto;
}

.especialidades-content ul li {
    list-style: none;
    display: flex;
}

.especialidades-content {
    /*  max-width: 64rem;*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;

}

.especialidades-content h2 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -2rem;
    transform: rotate(5deg);
}

.galeria-img {
    width: 100%;
    width: 36rem;
    height: 36rem;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.galeria-img img {
    transition: all 300ms ease-in-out;
}

.galeria-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.galeria-content h2 {
    text-align: center;
}



/* Horários */
.horario-content h2 {
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    overflow: auto;
}

table:hover {
    background-color: greenyellow;
}

table td,
table th {
    padding: 0.5rem;
    border: 0.1rem solid var(--light-gray-color);
}

/* Localização */
.local {
    text-align: center;
}

.local h2 {
    text-align: center;
}

.local p {
    text-align: center;
}

.local img {
    width: 15rem;
    height: 15rem;
    border: 2px solid white;
    background-color: white;
}

.local img:hover {
    border: 2px solid cyan;
    transform: translate(-3%, 3%) scale(1.2);
}

/* Fundo */

.fundo {
    text-align: center;
    font-size: 2rem;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}


/*Mobile*/

.close-menu {
    display: none;
}

@media (max-width: 800px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .galeria-img {
        width: 100%;
        max-width: auto;
        max-height: auto;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }


    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
        
    }

    .close-menu:checked~.close-menu-label::after {
        content: 'X';
    }

    .menu-spacing {
        display: none;
    }
}