/*Todos * */
* {
    margin: 0;
    padding: 0;
}
/*Classe .Classe*/
.box {
    background-color: red;
    border: 5px solid;
    height: auto;
    width: auto;
}
/*child selection*/
.box>.filha {
    color: blue;
    font-size: 40px;
}
/*brother selection*/
.box h1+p{
    font-style: italic;
}
/*general simb selection*/
/*todas as filhas2 que vem depois de filha*/
.box .filha~.filha2 {
    color: pink;
    font-size: 55px;
}
/*somente uma fiha2 que vem depois de filha*/
.box .filha + .filha2 {
    color: black;
    font-size: 55px;
}

[meu-atributo="valor"] {
    color: darkcyan;
}
[checked] {
    width: 50px;
    height: 50px;
}



/*por Tag*/
p {
    color: darkblue;
}

h1 {
    color: yellow;
}

body div section p,
body div section h1 {
    color: black;
}
