body {
    background-color: yellow;
}


#corpo {
    color: black;
    background: white;
    font-size: 32px;
    padding: 10px;
    border: 3px solid black;
    margin: 90px;
}
#topo {
    text-align: center;
    background: yellow;
    font-size: 38px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 50px;
}
